html, body {
    height: 100%; 
    margin: 0; 
}
body {
    display: flex;
    flex-direction: column; 

}

/*-------------------------------------------------------------------------------------------------------
                                            HEADER
-------------------------------------------------------------------------------------------------------*/
header {
    background-color: black;
}
.nav_header {
    text-align: center;
    border-top: 2px solid black;
}
.nav_header li {
    position: relative;
    display: inline-block;
}
.nav_header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav_header nav li {
    margin-right: 60px;
}
.nav_header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
}
.nav_header a:hover {
    color: white;
    font-size: 30px;
    transition: 0.5s;
}
.bar {
    height: 4px;
    width: 30px;
    background-color: white;
    transition: all 0.3s ease;
}
.sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 80px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.sous-menu li {
    display: block;
    text-align: left;
}
.sous-menu a {
    color: white;
    text-decoration: none;
    display: block;
}
.deroulant:hover .sous-menu {
    display: block;
    padding: 0;
    font-size: 5px;
    opacity: 0.9;
}

/*-------------------------------------------------------------------------------------------------------
                                            Main
-------------------------------------------------------------------------------------------------------*/
main{
    flex: 1; 
}
.contenaire_main{
    background-image: url(img/zinedine/stade3-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
<<<<<<< Updated upstream:fansite1.css
}
.h1_zidane{
    font-size: 48px;
    text-align: center;       
    font-family: "Pacifico", cursive;
    margin: 0;
    padding: 30px;
}
=======
}
.container_accueil{
    background-image: url(../img/zinedine/zinedine5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 38vh;
}
.container_accueil a{
    text-decoration: none;
}
.h1_zidane {
    background-color: #007BFF;
    margin-left: auto;
    margin-right: auto; 
    font-size: 2rem; 
    text-align: center;       
    color: black; 
    border-radius: 20px;
    max-width: 30%;
    margin-top: 40vh; 
}
.h1_zidane:hover{
    background-color: white;
    font-size: 30px;
    transition: 0.5s;
}
>>>>>>> Stashed changes:style/fansite1.css
h2{
    text-align: center;
}
h3 {
    text-align: center; 
}
article {
    margin:30px 50px;
    font-size: 20px;
}
.source{
    margin: 30px 50px;
}
a {
    text-decoration: none;
}
hr{
    color: white;
    margin: 40px 0;
    border: white solid 2px;
}
li{
    margin: 20px;
}
<<<<<<< Updated upstream:fansite1.css
.contenaire_presentation{
    display: flex;
}
#presentation {
    font-family: 'Roboto', sans-serif; 
    font-size: 18px; 
    line-height: 1.6; 
    color: #333; 
    max-width: 800px; 
    margin: 0 20px; 
    padding: 5px 10px 5px 10px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

#presentation p {
    margin-bottom: 20px; 
}
.img_presentation {
    border-radius: 20px;
    display: block; 
    margin: 80px 20px; 
    width: 600px;
    height: 400px;
}
#section-actualite {
    margin-top: 20px;
    background-color: white; 
    padding: 2px;
    border-radius: 8px;
}
#section-realisations {
    background-color: white; 
    padding: 2px;
    border-radius: 8px;
    margin-top: 20px;
    
}
#section-evenements {
    margin-top: 20px;
    background-color: white; 
=======

section hr{
    color: black;
    border: black solid 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#section-main {
    margin: 20px;
    background-color: whitesmoke; 
>>>>>>> Stashed changes:style/fansite1.css
    padding: 2px;
    border-radius: 8px;
}

summary {
    cursor: pointer;
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 4px;
}
summary:hover {
    background-color: #007BFF;
}
details summary {
    list-style: none;
}
#palmares-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}
.palmares-entraineur, .palmares-joueur {
    margin: 50px;
    width: 48%; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}
#palmares-container h3{
    text-align: left;
}
<<<<<<< Updated upstream:fansite1.css
#photos-videos {
    margin-top: 20px;
    background-color: white; 
    padding: 2px;
    border-radius: 8px;
}
#liens {
    margin-top: 20px;
    background-color: white; 
    padding: 2px;
    border-radius: 8px;
}
#liens li{
=======
.liens li{
>>>>>>> Stashed changes:style/fansite1.css
    text-align: center;
    list-style: none;
}
#reseaux-sociaux {
    text-align: center; 
    margin: 0 0; 
}
#reseaux-sociaux h2{
    color: white;
}
#reseaux-sociaux ul {
    list-style: none;  
    display: flex; 
    justify-content: center; 
}
.videos_zidane {
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}
<<<<<<< Updated upstream:fansite1.css
article {
    font-size: 18px;
=======
.video_zizou{
    display: flex;
    justify-content: center;
}

.video_zizou iframe{
    width: 560;
    height: 315;
>>>>>>> Stashed changes:style/fansite1.css
}
img{
    width: 500px;
    height: 300px;
}
.img_logo{
    width: 32px;
    height: 32px;
    margin-right: 20px;
    padding: 5px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%; 
    border-radius: 8px; 
    transition: transform 0.2s; 
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

.modal img {
    max-width: 100%; 
    width: 600px;
    height: 400px;
}

.modal:target {
    display: flex; 
}

.close {
    position: absolute;
    top: 150px;
    right: 350px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------------
                                            FOOTER
-------------------------------------------------------------------------------------------------------*/
footer{
    background-color: black;
}
.nav_footer {
    text-align: center;  
    padding: 10px 0;     
    border-top: 2px solid black; 
}

.nav_footer nav ul {
    list-style-type: none; 
    padding: 0;           
    margin: 0;            
    display: inline-flex; 
}
.nav_footer nav li {
    margin-right: 60px; 
}

.nav_footer nav li:last-child {
    margin-right: 0; 
}
.nav_footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav_footer a:hover{
    color: white;
    font-size: 25px;
    transition: 0.5s;
}
.nav_footer h3 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 14px; 
    color: white; 
    font-family: 'Roboto', sans-serif; 
}

/*-------------------------------------------------------------------------------------------------------
                                            Media queries
-------------------------------------------------------------------------------------------------------*/
@media (min-width: 1386px) {
    .hamburger{
        display: none;
    }
}

@media (max-width: 1385px) {
    /*----------------------------------------------------------------------------------------------------
                                            Header
    /*Header---------------------------------------------------------------------------------------------*/
    .hamburger {
        margin: 35px 20px;
    }
    .bar{
        margin: 5px;
    }
    .nav_header {
        display: none; 
    }
    .nav {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        padding: 5px; 
        margin: 0; 
        gap: 10px; 
        width: 100%; 
    }
    .nav a {
        color: white;
        text-decoration: none;
        width: 100%; 
        text-align: center;
        padding: 10px; 
        box-sizing: border-box; 
    }
<<<<<<< Updated upstream:fansite1.css
=======
    summary:hover {
        background-color: black;
    }
>>>>>>> Stashed changes:style/fansite1.css

    /*----------------------------------------------------------------------------------------------------
                                            Header
    /*Header---------------------------------------------------------------------------------------------*/
    .container_accueil {
        height: 75vh;
        padding: 10vh; 
    }
    
    .contenaire_presentation{
        display: flex;
        flex-direction: column;
    }
    .h1_zidane{
        margin-top: 60vh;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        max-width: 40%;
    }
    .h1_zidane:hover{
        background-color: #007BFF;
        font-size: 20px; 
        transition:none;
    }
    .close {
        position: absolute;
        top: 250px;
        right: 20px;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }

    /*----------------------------------------------------------------------------------------------------
                                            Main
    /*Header---------------------------------------------------------------------------------------------*/
    section{
        margin: 0 20px;
    }
    #palmares-container{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .gallery   {
        display: flex;
        flex-direction: column;
    } 
    img{
        width: 250px;
        height: 150px;
    }
    .modal img {
        max-width: 90%; 
        width: 400px;
        height: 300px;
    }
    .vid_zidane {
        max-width: 100%;
    }
    .video_zizou{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    /*----------------------------------------------------------------------------------------------------
                                            Footer
    /*Header---------------------------------------------------------------------------------------------*/
    .nav_footer {
        padding: 0;
        flex-direction: column; 
        align-items: center; 
        text-align: left; 
    }

    .nav_footer nav ul {
        flex-direction: column; 
    }
    .nav_footer a {
        font-size: 15px;
    }   
}
